<%- include('partials/header'); %> 
    <h1> Compose </h1>
    <form action="/compose" method="post">
        <div class="form-compose">
            <label for="postTitle"> Title </label>
            <input class="form-control" type="text" name="postTitle" id="">
            <label for="postContent"> Post </label>
            <textarea name="postContent" id="" cols="30" rows="10"></textarea>
            <button class="btn btn-primary publish-btn" type="submit"> Publish</button>
        </div>
    </form>
<%- include('partials/footer'); %> 