<%- include('partials/header'); %>
    <h1> BUSCAR RESULTADOS PARA "<%= postTitle %>"</h1>
    <h3> Sorry, but nothing matched your search terms. Please try again with some different keywords.</h3>
<%- include('partials/footer'); %> 